body{
    padding: 0%;
    display: flex;
    margin: 0%0;
}
header{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
    background-color:gainsboro;
    align-items: center;
}
#linkentra{
     position: absolute;
     left: 95vw;
     text-decoration: none;
     color: black;
  
}
#linkpreenche{
    position: absolute;
    left: 87vw;
    text-decoration: none;
    color: black;
}
